 <footer> 
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i> {{'COMMON.CONTACTS'|translate}}:</h3>
                    <p class="footer-contact">
                        Narodnog Fronta, Novi Sad<br>
                        Telefon: 04353 4324<br>
                        Email: hello@example.com<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-external-link"></i> {{'COMMON.LINKS'|translate}}</h3>
                    <p> <a href="#"> {{'COMMON.ABOUT'|translate}}</a></p>
                    <p> <a href="#"> {{'COMMON.OFFER'|translate}}</a></p>
                    <p> <a href="#"> {{'COMMON.CONTACTS'|translate}}</a></p>
                    <p> <a href="#"> {{'COMMON.OUR_TEAM'|translate}}</a></p>
                </div>
              <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> {{'COMMON.SOCIALS'|translate}}</h3>
                <div id="social-icons">
                    <a href="#" class="btn-group google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                      <a href="#" class="btn-group linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                      <a href="#" class="btn-group twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                      <a href="#" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
              </div>    
        </div>
      </div>
    </footer>

    
    <div class="center">
        <p>&copy; KodžoTeam 2015</p>
    </div>
