 
    <ul id="progressbar">
               
                <li><a class="btn btn-default" ng-class="{'activeStep':ic.isActiveStep('offerStep1')}" ui-sref="main.offer.steps.step1">1</a></li>
               
                <li><a class="btn btn-default" ng-class="{'activeStep':ic.isActiveStep('offerStep2')}" ui-sref="main.offer.steps.step2">2</a></li>
               
                <li><a class="btn btn-default" ng-class="{'activeStep':ic.isActiveStep('offerStep3')}" ui-sref="main.offer.steps.step3">3</a></li>
                
    </ul>