   <input ng-hide="ic.currentState == 'main.offer.steps.step1'" type="button" name="previous" class="previous action-button" value="{{'OFFER.PREV_BTN'|translate}}" ng-click="ic.goBack()" />
	<input ng-hide="ic.currentState == 'main.offer.steps.step3'" type="button" name="next" class="next action-button" value="{{'OFFER.NEXT_BTN'|translate}}" ng-click="ic.goNext()"/>

	<input ng-show="ic.currentState == 'main.offer.steps.step3'" type="button" name="submit" class="next action-button" value="{{'OFFER.SUBMIT_BTN'|translate}}"/>