   <input ng-hide="ic.currentState == 'main.offer.steps.step1'" type="button" name="previous" class="previous action-button" value="{{'OFFER.PREV_BTN'|translate}}" ng-click="ic.goBack()" />
	<input ng-hide="ic.currentState == 'main.offer.steps.step3'" type="submit" name="next" class="next action-button" value="{{'OFFER.NEXT_BTN'|translate}}" ng-click="ic.goNext()"/>

	<a ng-show="ic.currentState == 'main.offer.steps.step3'" ng-click="ic.getServiceData()"  class="next action-button" href="" style="text-decoration:none">{{'OFFER.SUBMIT_BTN'|translate}}</a>