

<div class="panel panel-default panel-transparent">
  <div class="panel-body">
<div class="col-md-8 col-md-offset-2">
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <img src="img/family.jpg" alt="" class="img-responsive">
           <div class="carousel-caption">
          	<h1>{{'MAIN.T1'|translate}}</h1>
      <p class="lead">{{'MAIN.T2'|translate}}</p>
      <a class="btn btn-large btn-primary" ui-sref='main.offer'>{{'MAIN.T3'|translate}}</a>
           </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!--
<div class="item" style="background: url(img/family.jpg) no-repeat left center; background-size: cover;">
  <div class="container">
    <div class="carousel-caption">
      <h1>Kupite osiguranje kod nas</h1>
      <p class="lead">Nudimo vam najpovoljnije osiguranje itd</p>
      <a class="btn btn-large btn-primary" href="#">Learn more</a>
    </div>
  </div>
</div>

-->