 
    <ul id="progressbar">
               
                <li><a class="btn btn-default" ng-class="{'activeStep':osc.isActiveStep('offerStep1')}">1</a></li>
               
                <li><a class="btn btn-default" ng-class="{'activeStep':osc.isActiveStep('offerStep2')}">2</a></li>
        
                <li><a class="btn btn-default" ng-class="{'activeStep':osc.isActiveStep('offerStep3')}">3</a></li>
               
                <li><a class="btn btn-default" ng-class="{'activeStep':osc.isActiveStep('offerStep4')}">4</a></li>
                
    </ul>