   <input ng-hide="osc.currentState == 'main.offer.steps.step1'" type="button" name="previous" class="previous action-button" value="{{'OFFER.PREV_BTN'|translate}}" ng-click="osc.goBack()" />
	<input ng-hide="osc.currentState == 'main.offer.steps.step4'" type="submit" name="next" class="next action-button" value="{{'OFFER.NEXT_BTN'|translate}}" ng-click="osc.goNext()"/>

	<button ng-show="osc.currentState == 'main.offer.steps.step4'" ng-click="ic.getServiceData()"  class="next action-button" style="text-decoration:none">{{'OFFER.SUBMIT_BTN'|translate}}</button>